@model About

@{
    ViewBag.Title = "Haqqımızda";
}


<!-- Hero Area Start-->
<div class="slider-area" style="height:120px;">
    <div class="single-slider slider-height2 ">
    </div>
</div>
<!-- Hero Area End-->


<!-- About Start -->
<div class="about-details section-padding" style="margin-top:-15px;">
    <div class="container">
        <div class="row">
            <div class="offset-xl-1 col-lg-10">
                <div class="about-details-cap mb-50">
                    <h4>Haqqımızda</h4>
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->