<div class="footer" style="background-color:transparent;">
    <div>
        <h3><a asp-controller="Home" asp-action="Index" style="color:black;">StudentExchange.İnfo</a></h3>
        <ul>
            <li><p style="font-size:13px;">tələbələrə mübadilə proqramları barəsində daha ətraflı məlumat vermək üçün yaradılıb.</p></li>
        </ul>
    </div>

    <div>
        <h3>Sürətli Linklər</h3>
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
            <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
            <li><a asp-controller="University" asp-action="Index">Universitetlər</a></li>
            @if(User.Identity.IsAuthenticated)
            {
                <li><a asp-controller="Account" asp-action="Logout">Çıxış et</a></li>
            }
            else
            {
                <li><a asp-controller="Account" asp-action="Login">Daxil ol</a></li>
            }
        </ul>
    </div>

    <div>
        <h3>Qeydiyyat Növləri</h3>
        <ul>
            <li><a asp-controller="Account" asp-action="StudentRegister">Tələbə olaraq qeydiyyat</a></li>
            <li><a asp-controller="Account" asp-action="UniversityRegister">Universitet olaraq qeydiyyat</a></li>
        </ul>
    </div>
    <div>
        <h3>Digər</h3>
        <ul>
            <li><a asp-controller="Prerequisite" asp-action="Index">İlkin Tələblər <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a></li>
            <li><a asp-controller="Motivation" asp-action="Index">Motivasiya Məktubu <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a></li>
        </ul>
    </div>
    <div>
        <h3>Bizim ilə Əlaqə</h3>
        <ul>
            <li><a asp-controller="Contact" asp-action="Index">Əlaqə</a></li>
            <li><a asp-controller="Faq" asp-action="Index">FAQ</a></li>
            <li><a asp-controller="Home" asp-action="Subscribe">Abunə ol <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a></li>
        </ul>
    </div>
    @*  <div>
    <select>
    <option value="az">Azərbaycan dili</option>
    </select>
    </div> *@
</div>