@model ChangePasswordVM

<div class="container py-4">
    <div class="row">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index"><i class="bx bx-user me-1"></i> Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-action="ChangePassword"><i class='bx bxs-lock-open'></i> Şifrəni dəyiş</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Logout"><i class='bx bx-power-off'></i> Çıxış et</a>
            </li>
        </ul>
        <div class="col-12">

            <div class="card mb-4">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="card-body">
                    <form method="post">

                        <div class="mb-3 form-group">
                            <label asp-for="OldPassword" class="form-label">Köhnə Şifrə</label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="NewPassword" class="form-label">Yeni Şifrə</label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                        </div>

                        <div class="mb-3 form-group">
                            <label asp-for="ConfirmPassword" class="form-label">Yeni Şifrənin təkrarı</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>

                        <button type="submit" class="btn btn-success">Yenilə</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}