@model SocialMedia


<div class="row">
    <div class="col-8">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Sosial Media</h5>
            </div>
            <div class="card-body">
                <form method="post">

                    <div class="mb-3 form-group">
                        <label asp-for="Icon" class="form-label">Ikon</label>
                        <input asp-for="Icon" class="form-control" />
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-group">
                        <label asp-for="Link" class="form-label">Link</label>
                        <input asp-for="Link" class="form-control" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>

                    

                    <button type="submit" class="btn btn-primary">Yarat</button>
                    <a asp-action="Index" class="btn btn-secondary">Geri qayıt</a>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
}