@model List<RoleVM>

<hr class="my-5" />

<!-- Bordered Table -->
<div class="card">
    <div class="card-header" style="display:flex;justify-content:space-between">
        <p>Rollar</p>
        <div>
            <a asp-action="Create" class="btn btn-success text-white" style="margin-right:10px"><i class='bx bx-plus'></i></a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr><th>Rol</th></tr>
                </thead>
                <tbody>
                    @foreach (RoleVM item in Model)
                    {
                        <tr><td>@item.RoleName</td></tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />
