

<div class="container-fluid">
    <div class="menu-wrapper">
        <!-- Logo -->
        <div class="logo">
            <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo/BaseLogo.png" alt="" style="width:164px;height:25px;"></a>
        </div>
        <!-- Main-menu -->
        <div class="main-menu d-none d-lg-block">
            <nav>
                <ul id="navigation">
                    <li><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
                    <li><a asp-controller="About" asp-action="Index">Haqqımızda</a></li>
                    <li><a asp-controller="University" asp-action="Index">Universitetlər</a></li>

                    <li>
                        <a href="#">Media <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a>
                        <ul class="submenu">
                            <li><a asp-controller="News" asp-action="Index">Xəbərlər <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Qeydiyyat</a>
                        <ul class="submenu">
                            <li><a asp-controller="Account" asp-action="StudentRegister">Tələbə olaraq</a></li>
                            <li><a asp-controller="Account" asp-action="UniversityRegister">Universitet olaraq</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Digər</a>
                        <ul class="submenu">
                            <li><a asp-controller="Prerequisite" asp-action="Index">İlkin Tələblər <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a></li>
                            <li><a asp-controller="Motivation" asp-action="Index">Motivasiya məktubu <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Əlaqə</a>
                        <ul class="submenu">
                            <li><a asp-controller="Contact" asp-action="Index">Bizmlə Əlaqə</a></li>
                            <li><a asp-controller="Faq" asp-action="Index">Faq <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a></li>
                            <li><a asp-controller="Home" asp-action="Subscribe">Abunə ol <span style="padding:3px; background-color:green;color:white; font-size:13px; border-radius:6px;">yeni</span> </a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Header Right -->
        <div class="header-right">
            <ul>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Student"))
                    {
                        <li> <a style="font-size:16px;;color:white;background-color:green;border-radius:8px;padding:8px 12px;" asp-area="Student" asp-controller="Profile" asp-action="Index">@User.Identity.Name</a></li>
                    }
                    if (User.IsInRole("University"))
                    {
                        <li> <a style="font-size:16px;;color:white;background-color:green;border-radius:8px;padding:8px 12px;" asp-area="UniversityPanel" asp-controller="Profile" asp-action="Index">Panelə Keçid </a></li>
                    }
                    if(!User.IsInRole("Student") && !User.IsInRole("University"))
                    {
                        <li> <a style="font-size:16px;;color:white;background-color:green;border-radius:8px;padding:8px 12px;" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">@User.Identity.Name</a></li>
                    }
                }
                else
                {
                    <li> <a style="font-size:16px;;color:white;background-color:red;border-radius:8px;padding:8px 12px;" asp-controller="Account" asp-action="Login">PORTALA GİRİŞ</a></li>
                }

            </ul>
        </div>
    </div>
    <!-- Mobile Menu -->
    <div class="col-12">
        <div class="mobile_menu d-block d-lg-none"></div>
    </div>
</div>
