@{
    ViewData["Title"] = "Ana Səhifə";
}

@model HomeVM


<div class="slider-area">
	<div class="slider-active">


		<div class="slider-item" style="background-image:url(~/wwwroot/assets/img/slider/2738f07a-7c86-4d57-b350-bd697064a250architecture.jpeg)">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<h2>We Business Grow</h2>
							<h1 class="mb-4">We Help You Businesses Innovate and Grow</h1>
							<p><a href="#" class="btn btn-white">Connect with us</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="slider-item" style="background-image:url(../wwwroot/assets/img/slider/2984e901-00f7-4cce-8721-2996655b28c11646886631321369.png);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="text w-100 text-center">
							<h2>We Support Business</h2>
							<h1 class="mb-4">The Best Business Support</h1>
							<p><a href="#" class="btn btn-white">Connect with us</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

