@model Subscribe


@{
    ViewBag.Title = "Abunə ol";
}

<!-- Hero Area Start-->
<div class="slider-area" style="height:120px;">
    <div class="single-slider slider-height2 ">
    </div>
</div>
<!-- Hero Area End-->

<!-- subscribe part here -->
<section class="subscribe_part section_padding" style="background-color:transparent;margin-top:-60px;margin-bottom:-60px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="subscribe_part_content">
                    <h2 style="color:black;">Abunə ol!</h2>
                    <p style="color:black;">Yeniliklərdən ilk sən xəbərdar olmaq istəyirsənsə elektron-poçt adresini daxil edərək abunə ol.</p>
                    <form method="post">
                        <div class="subscribe_form">
                            <input style="border:1px black solid;color:black;" asp-for="Email" placeholder="Elektron poçt">
                            <span class="text-danger" asp-validation-for="Email"></span>
                            <button type="submit" class="btn_1">Abunə ol</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe part end -->

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
