@model Motivation

@{
    ViewBag.Title = "Motivasiya məktubu";
}


<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Motivasiya məktubu</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End-->
<!-- Prerequisite Start -->
<div class="about-details section-padding30">
    <div class="container">
        <div class="row">

            <div class="offset-xl-1 col-lg-9">
                <div class="about-details-cap mb-50">
                    <h5>Motivasiya məktubu (Azərbaycan dilində)</h5>
                    @Html.Raw(Model.MotivationAZE)
                </div>
            </div>

            <div class="offset-xl-1 col-lg-9">
                <div class="about-details-cap mb-50">
                    <h5>Motivation Letter (İn English)</h5>
                    @Html.Raw(Model.MotivationENG)
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Prerequisite End -->