﻿
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="~/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <style>
        .logo-slider {
    overflow: hidden;
    padding: 30px 0 0 0;
    white-space: nowrap;
    position: relative;
}

.logo-slider:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 45s slide infinite linear;
}

.logos-slide img {
    width: 183px;
    height: 83px;
    margin: 0 40px;
    background-color:transparent;
}


@@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


       

        .feedback-section {
            margin-top: 50px;
        }

            .feedback-section h1 {
                font-size: 24px;
                color: black;
            }

            .feedback-section p {
                font-size: 14px;
                color: #555;
                margin-bottom: 30px;
            }

        .feedback-button {
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

        .footer {
            padding: 17px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

            .footer div {
                flex: 1 1 200px;
                margin: 10px;
            }

                .footer div h3 {
                    font-size: 18px;
                    color: #333;
                    margin-bottom: 10px;
                }

                .footer div ul {
                    list-style-type: none;
                    padding: 0;
                }

                    .footer div ul li {
                        margin: 5px 0;
                        font-size: 14px;
                        color: #555;
                    }

                        .footer div ul li a {
                            color: #555;
                            text-decoration: none;
                        }

                            .footer div ul li a:hover {
                                text-decoration: underline;
                            }

        .footer-bottom {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
            color: #555;
        }

        .stats {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }

            .stats div {
                margin: 0 20px;
                font-size: 14px;
                color: #333;
            }

                .stats div span {
                    display: block;
                    font-size: 18px;
                    color: #0056b3;
                }

        .social-icons {
            margin-top: 20px;
        }

            .social-icons img {
                width: 24px;
                height: 24px;
                margin: 0 10px;
            }

    
    </style>

    @RenderSection("Css", false)
</head>

<body>

    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                @await Component.InvokeAsync("Header")
            </div>
        </div>
        <!-- Header End -->
    </header>

    <main>
        @RenderBody()
    </main>

    <div class="logo-slider" data-v-4ef8651c="">
        <div class="logos-slide" data-v-4ef8651c="">
            <a href="https://erasmus-plus.ec.europa.eu/" target="_blank"><img src="~/assets/img/partner/eras.svg" data-v-4ef8651c=""></a>
            <a href="https://www.studyinturkiye.gov.tr/StudyinTurkey/StudyinTurkey" target="_blank"><img src="~/assets/img/partner/studyinturkey-logo-black.svg" data-v-4ef8651c=""></a>
            <a href="https://studyinazerbaijan.edu.az/web/" target="_blank"><img src="~/assets/img/partner/logo.png" data-v-4ef8651c=""></a>
            <a href="https://azerbaijan.travel/" target="_blank"><img src="~/assets/img/partner/travel.svg" data-v-4ef8651c=""></a>
        </div>
    </div>

    <!-- Footer Start-->
    <div class="container">
        <div class="feedback-section" style="padding:17px;">
            <h1>Rəy bildirin</h1>
                <div class="row">
                    <div class="col-md-9">
                        <p>Portalın təkmilləşdirilməsi üçün öz rəyinizi bildirin və ya portalla bağlı şikayətinizi bizə göndərin.</p>
                    </div>
                    <div class="col-md-3">
                        <a class="feedback-button" asp-controller="Contact" asp-action="Index">Rəy bildirin</a>
                    </div>
                </div>
        </div>
        @await Component.InvokeAsync("Footer")
       @*  <hr />
        <div class="footer-bottom">
            “İnnovasiya və Rəqəmsal İnkişaf Agentliyi” Publik Hüquqi Şəxsi
        </div> 
        <div class="stats">
            <div>
                <span>44586</span>
                Yeni ziyarətçilər
            </div>
            <div>
                <span>909090</span>
                Səhifə baxış sayı
            </div>
            <div>
                <span>7.35 dəq</span>
                Orta sərf olunan vaxt
            </div>
        </div> *@
    </div>
    <!-- Footer End-->

    <!-- JS here -->

    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/animated.headline.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/jquery.sticky.js"></script>

    <script asp-append-version="true">
        var copy = document.querySelector(".logos-slide").cloneNode(true);
        document.querySelector(".logo-slider").appendChild(copy);
    </script>

    <!-- contact js -->
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/jquery.form.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/mail-script.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    @RenderSection("Scripts", false)
    <!-- Jquery Plugins, main Jquery -->
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>

</body>
</html>